************************************************************************
*                                                                      *
* DRILL TAPE SUMMARY REPORT                                            *
*                                                                      *
* D:\ORCAD_G\PROJET_ORCAD9\HUGO\CARTE WIFI 2011\CARTE WIFI 2011-5.MAX  *
* Wed Jun 22 16:47:59 2011                                             *
*                                                                      *
************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      7        200      100                                                                                 
T2       350      2        200      100                                                                                 
T3       400      111      200      100                                                                                 
T4       450      6        200      100                                                                                 
T5       800      7        200      100                                                                                 
