**********************************************************************
*                                                                    *
* DRILL TAPE SUMMARY REPORT                                          *
*                                                                    *
* D:\ORCAD_G\PROJET_ORCAD9\HUGO\CARTE WIFI 2011\CARTE WIFI 2011.MAX  *
* Mon Jul 04 16:22:29 2011                                           *
*                                                                    *
**********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      19       200      100                                                                                 
T2       300      2        200      100                                                                                 
T3       350      2        200      100                                                                                 
T4       400      118      200      100                                                                                 
T5       450      4        200      100                                                                                 
T6       800      7        200      100                                                                                 
