************************************************************************
*                                                                      *
* DRILL TAPE SUMMARY REPORT                                            *
*                                                                      *
* D:\ORCAD_G\PROJET_ORCAD9\HUGO\CARTE PUISSANCE\CARTE PUISSANCEV3.MAX  *
* Wed Apr 13 13:26:57 2011                                             *
*                                                                      *
************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      5        200      100                                                                                 
T2       320      2        200      100                                                                                 
T3       350      16       200      100                                                                                 
T4       400      27       200      100                                                                                 
T5       450      6        200      100                                                                                 
T6       540      12       200      100                                                                                 
T7       800      2        200      100                                                                                 
T8       1300     11       200      100                                                                                 
